body {
    background-color: rgb(245, 238, 233);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 80%;
    margin: auto;
    /* background: rgb(255, 224, 184); */
}

.top {
    display: flex;
}

.avatar {
    background-color: rgb(194, 13, 218);
    padding: 6px;
    box-sizing: border-box;
    border-radius: 25px;
}

.avatar-img {
    width: 170px;
    border-radius: 20px;
}

.info {
    background-color: rgb(194, 13, 218);
    border-radius: 25px;
    text-align: center;
    margin-left: 10px;
    width: 100%;
    /* padding-top: 6%; */
}

.info p {
    background-color: gold;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
    /* padding: 0 8px; */
}

.name {
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 350px) {
    .info{
        text-align: center;
        padding-top: 1%;

    }

    .info p {
        margin-left: 7px;
        margin-right: 7px;
        padding-left: 2px;
    }
    
    .avatar {
        padding: 25px 6px;
    }
}


.center {
    display: flex;
    margin-top: 20px;
    width: 100%;
    /* height: 700px; */
    /* background-color: black; */
}

.right-social {
    border-radius: 25px;
    margin-left: 10px;
    right: 0px;
    width: 60px;
    text-align: center;
    /* height: 500px; */
    background-color:rgb(114, 215, 235) ;
}

.telegram > img {
    margin-top: 10px;
    margin-right: 2px;
    width: 30px;
    height: 30px;
}

.github > img {
    margin-top: 10px;
    margin-right: 2px;
    width: 45px;
    height: 45px;
}

.vk > img{
    margin-top: 10px;
    margin-right: 2px;
    width: 45px;
    height: 45px;
}

.main-table {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 0 15px;
    background-color: brown;
}

.main-table h3 {
    color: black;
    background-color: gold;
    border-radius: 20px;
    text-align: center;
}

.main-table a {
    color: white;
    /* text-decoration: none; */
}

.main-table a:visited{
    color: grey;
}


.my-project {
    border-bottom: 3px solid white;
    margin-bottom: 200px;
}

